src/**
*.ts
!out/**/*.js

esbuild.js
tsconfig*.json

.editorconfig
.eslintrc*
.eslintignore
.prettierrc*
.prettierignore

.vscode/**
.vscode-test/**
node_modules/**
.git/**
.github/**

CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md

out/**/*.map
media/webview/*.map

.DS_Store
.gitignore
*.vsix
